---
import Container from "./Container.astro";
import FeatureComponent from "./FeatureComponent.astro";
---

<div id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
      <h2
        class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl"
      >
        A technology-first approach to carft English learning experience
      </h2>
      <p class="text-gray-600 dark:text-gray-300">
        Owllen is an AI powered free offline English dictionary with a lot of
        machine learning (ML) features including multilingual translation
        (Offline), text recognition (OCR), text-to-speech (TTS). Learn 300,000+
        words with definitions, examples, synonyms & antonyms – anytime,
        anywhere.
      </p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <FeatureComponent
        title="Powerful Offline English Dictionary"
        text="Over 300,000 common English words and phrases with definitions, examples, synonyms & antonyms."
        icon="./images/icons/book_icon.svg"
        icon_alt_text="book"
      />
      <FeatureComponent
        title="Search Made Easy"
        text="Find words quickly with search history, saved words, and prefix suggestions."
        icon="./images/icons/search_icon.svg"
        icon_alt_text="search"
      />
      <FeatureComponent
        title="Look up words in any language"
        text="Don't know a word? Owllen can translate the searched term to English and find the definition for you."
        icon="./images/icons/translation_icon.svg"
        icon_alt_text="translation"
      />
      <FeatureComponent
        title="Text Recognition (OCR)"
        text="Turn physical text into digital lookups – scan English text from photos or documents using your camera. Two convenient modes: Photo & Reading mode for on-the-go learning."
        icon="./images/icons/camera_icon.svg"
        icon_alt_text="camera"
      />
    </div>
  </Container>
</div>
