---
import Container from "./Container.astro";
---

<div id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-60 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-80 bg-gradient-to-br from-primary to-teal-200 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-48 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-12 md:pt-24">
      <div class="flex w-full flex-col md:flex-row gap-8">
        <div class="pt-24 basis-1/3">
          <h2
            class="text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl"
          >
            Your Free English Dictionary
          </h2>
          <p class="pt-6 text-gray-700 text-xl dark:text-gray-300">
            Unlock <span class="text-primary dark:text-white"
              >the power of English</span
            >, anywhere, anytime, in any language.
          </p>
        </div>
        <div class="basis-2/3">
          <img
            class="h-auto max-w-full size-9/12"
            src="./images/web_demo.png"
            alt="image description"
          />
        </div>
      </div>
    </div>
  </Container>
</div>
